// Переменные
//Сolor
$backgroundColorBtn:#EB5671;
$backgroundColorForm:#C1E5F6;
$backgroundSocial:#EB5671;
$backgroundForm:#C1E5F6;
$colorTitle:#212529;
$colorBtn:#FFFFFF;
$borderBtn:5px;
$color:#ffff;

// Шрифт
$font-family:'Montserrat';
$semiBold:600;
$fontSize12:12px;
$fontSize16:16px;